body {
	font-family: Arial, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

.banner {
	background-color: #2a5d90;
}

.category-card {
	min-height: 320px;
	transition: transform 0.3s ease-in-out;
	text-decoration: none;
	color: inherit;
	display: block;
}

.category-card:hover {
	transform: translateY(-5px);
}

.category-card .card-icon {
	font-size: 5rem;
	color: #6c757d;
}

.category-card .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.card-icon.mb-3 {
	margin-bottom: 1rem;
}

.navbar-logo img {
	max-height: 35px;
}

main {
	flex: 1;
}

footer {
	margin-top: auto;
}

.bg-iut-blue {
	background-color: #2a5d90;
}
.profile-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: white;
	position:absolute;
	margin:auto;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.profile-circle img {
	width: 100%;
	height: auto;
}
.info-box {
	background-color: #f0f0f0;
	padding: 15px;
	margin-bottom: 20px;
}
